<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Audubon App</name>
    <description>
        An app that displays Exhibit information for Audubon Pascagoula
    </description>
    <author email="rolando@ad-in.us" href="http://ad-in.us">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
	<plugin name="cordova-plugin-network-information" spec="~1.3.3" />
</widget>
